.container-fluid{
padding: 0%;
}

#Slider .carousel-inner, #Slider .carousel-item{
height: 80vh;
}

.carousel-indicators .active{
background-color: #3b5c2c;
}

#parceiros {

    color: rgb(12, 12, 12);
    border-top: 5px solid rgba(11, 11, 12, 0.1);
    padding-top: 30px;
    border-bottom: 5px solid rgba(12, 12, 12, 0.1);
    padding-bottom: 100px;
}



#contato {
    text-align: center;
}

.contact-box {
    padding-bottom: 20px;
    padding-top: 35px;
    margin-bottom: 30px;
}

.contact-box i {
    color: #121213;
    border: solid 1px #f9f9f9;
    border-radius: 40%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-box p {
    font-size: 16px;
    color: #d6caca;
}

.contact-tit {
    font-weight: bold;
    color: #141414;

}

#contato {
    background-color:  #7fa36e;
}

#contato h3 {
    padding-top: 30px;
}


#rodape .container {
    padding: 5px 0;
    text-align: center;
}

#formlogin {
    border-radius: 12px;
}

#formcadastro {
    border-radius: 12px;
}

#divCadastro, #formlogin h2 {
    margin-top: 25px;
    text-align: center;
}

p.truncate-3l {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

p.inforcard {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

h5.titulocard {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

small.limitadorDeLinha {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


.bg-layout {
    background-color: #70a05a;

}


.page1-section {
    background-color: #f0f3f3;

}

.container-fluid1 {
    background-color: #e6f0f0;
}

.card-tit {
    background-color: #02090f;
}

.btn1-warning {
    color: #368171;
    background-color: #80c2bc;
    border-color: #2895b1;

}

.bg-light1 {
    background-color:#e9ecef ;
}


.messages {
    list-style: none;
    padding: 0;
}

.messages li {
    padding: 10px;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.container4 {
background-color: #f0f0f0; 
color: #333; 
padding: 30px;
}

.social-icons a {
color: #333; 
}

.social-icons a:hover {
color: #007bff; 
}

.table-primary1 {
    background-color: #70a05a; 
    color: #121213(113, 122, 119);
}

.table-light {
    background-color: #9a9e98; 
}

.table-hover tbody tr:hover {
    background-color: #9a9e98; 
}



table.table {
    border-collapse: collapse;
    width: 100%;
    background-color: #f8f9fa;
}


.thead{
    background-color: #70a05a; 
    border: 1px solid #000000; 
    color: black;
    text-align: left;
}

table.table th, table.table th {
    padding: 8px;
}


.table{
    background-color: #e9ecef;
}

.table{
    background-color: #ffffff;
}


table.table .img-thumbnail {
    width: 100px;
    height: auto;
}


.btn-success1 {
    background-color: #5f925f;
    border-color: #3a8d4c;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}


.logo-centered {
    text-align: center;
    vertical-align: middle;
}


.form-cadastro {
    background-color: #f8f9fa; 
    border-color: #28a745; 
}

.form-cadastro h2 {
    color: #28a745; 
}

.form-control {
    border-color: #28a745; 
    background-color: #e9f7ef; 
}

.btn-success1 {
    background-color: #3e8d50;
    border-color: #92c49d;
    color: white;
}

.btn-success1:hover {
    background-color: #218838;
    border-color: #1e7e34;
}


  .thead-custom {
    background-color: #5f925f;
    color: white; 
}

.thead-custom th {
    font-weight: bold;
}

.text-dark {
    color: #000; 
}


#produto-form {
    border: 4px solid #eee4e4;  
    border-radius: 8px;         
    padding: 20px;              
    margin: 40px;               
}

#produto-form h4 {
    text-align: center;        
}

#produto-form button {
    border-radius: 5px;        
    width: auto;
}


.contact-box i {
    font-size: 24px; 
}


