/* Slider */
.container-fluid{
padding: 0%;
}

#Slider .carousel-inner, #Slider .carousel-item{
height: 80vh;
}

.carousel-indicators .active{
background-color: #3b5c2c;
}

#parceiros {
    /* background: #ced4da; */
    color: rgb(39, 129, 170);
    border-top: 5px solid rgba(11, 11, 12, 0.1);
    padding-top: 30px;
    border-bottom: 5px solid rgba(12, 12, 12, 0.1);
    padding-bottom: 100px;
}

/* Footer */

#contato {
    text-align: center;
}

.contact-box {
    padding-bottom: 50px;
    padding-top: 50px;
    margin-bottom: 50px;
}

.contact-box i {
    color: #185f99;
    border: solid 1px #f9f9f9;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-box p {
    font-size: 16px;
    color: #d6caca;
}

.contact-tit {
    font-weight: bold;
    color: #2b8bdf;

}

#contato {
    background-color:  #7fa36e;
}

#contato h3 {
    padding-top: 50px;
    color: #265072;
}


#rodape .container {
    padding: 10px 0;
    text-align: center;
}

#rodape .container p {
    margin-bottom: 0;
}

#rodape .container a {
    font-weight: bold;
    color: #444;
}

#rodape .container a:hover {
    text-decoration: none;
    
}

#formlogin {
    border-radius: 12px;
}

#formcadastro {
    border-radius: 12px;
}

#divCadastro, #formlogin h2 {
    margin-top: 25px;
    text-align: center;
}

p.truncate-3l {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

p.inforcard {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

h5.titulocard {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

small.limitadorDeLinha {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


.bg-layout {
    background-color: #7fa36e;

}


.page1-section {
    background-color: #e6f0f0;

}