{% extends 'layoutadmin.html' %}
{% load static %}
{% block conteudo %}

<body>
    <div class="container mt-4">
        <!-- Navegação -->
        <nav class="navbar navbar-expand-lg mb-4">
            <div class="container-fluid">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link link-dark" href="{% url 'pgcadastrar' %}">
                            <span style="font-size: 35px;"><i class="bi bi-arrow-90deg-left"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Formulário para cadastrar um novo produto -->
        <section id="cadastrar-produto">
            <h2 class="mb-4">Cadastrar Produto</h2>
            <form class="col-6" action="{% url 'cadastrarprodutos' %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {% if msg %}
                <div class="alert {{ class }}">
                    {{ msg }}
                </div>
                {% endif %}
                <div class="mb-3">
                    <label for="nomeproduto" class="form-label">Nome</label>
                    <input type="text" class="form-control" name="nomeproduto" id="nomeproduto" required>
                </div>
                <div class="mb-3">
                    <label for="precoproduto" class="form-label">Preço</label>
                    <input type="number" class="form-control" name="precoproduto" id="precoproduto" step="0.01" required>
                </div>
                <div class="mb-3">
                    <label for="unidadeproduto" class="form-label">Unidade de Medida</label>
                    <input type="text" class="form-control" name="unidadeproduto" id="unidadeproduto" required>
                </div>
                <label for="imagemproduto" class="form-label">Imagem do Produto</label>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="imagemproduto" id="imagemproduto">
                    <label class="input-group-text" for="imagemproduto">Upload</label>
                </div>
                <input type="submit" class="btn btn-success" value="Cadastrar Produto">
            </form>
        </section>

        <!-- Lista de Produtos -->
        <section id="produtos">
            <h2 class="mt-4 mb-4">Lista de Produtos</h2>
            <div class="mb-4">
                <a class="btn btn-primary" href="{% url 'pgcadastrar' %}">Adicionar Novo Produto</a>
            </div>
            <table class="table table-light table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Nome</th>
                        <th>Preço</th>
                        <th>Unidade de Medida</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% if listagem_de_produtos %}
                    {% for produto in listagem_de_produtos %}
                    <tr>
                        <td>{{ produto.nome }}</td>
                        <td>R$ {{ produto.preco }}</td>
                        <td>{{ produto.unidade_de_medida }}</td>
                        <td>
                            <!-- Botões de ações para cada produto -->
                            <a class="btn btn-warning btn-sm" href="{% url 'editar_produto' produto.id %}">Editar</a>
                            <a class="btn btn-danger btn-sm" href="{% url 'exclui_produto' produto.id %}">Excluir</a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4" class="text-center">Nenhum produto encontrado.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </section>
    </div>
</body>

{% endblock conteudo %}
